<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <iframe src="" frameborder="0"></iframe>
    <!--<div id="app">
        <input type="text" v-model="newPageName">
        <button v-on:click="createPage">Создать страницу</button>
        <div v-for="(page, index) in pageList">
            <h1>{{ index + 1}}. {{ page }} <a href="#" v-on:click="deletePage(page)">(X)</a></h1>
        </div>
    </div>-->
    <script src="bundle.js"></script>
</body>
</html>